@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

/* Custom properties */
:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-dark-gray: #222222;
    --color-clean-green: #09A66D;
    --color-dark-green: #078A5B;
    --color-light-gray: #CCCCCC;
    --color-gray: #555555;
    --color-semi-white: #F3FBF8;
    /* Fonts */
    --font-family-h1: 'Rosario';
    --font-family-h2: 'DM Sans';
    --font-family-h3: 'DM Sans';
    --font-family-p: 'DM Sans';
    --font-size-h1: 70px;
    --font-size-h2: 48px;
    --font-size-h3: 20px;
    --font-size-p: 18px;
    /* Web-site Sizing */
    --width: 1440px;
    --width-menu: 1240px;
    --min-height-header: 850px;
    --min-height-main: 4177px;
    /* Paddings */
    --padding-left-header: 100px;
}