@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');
@import url(base.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Rosario', 'DM Sans';
}

/* Navbar */

.navbar {
    background-color: #fff !important;
    min-height: 56px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin: 50px 100px 43px 100px;
}

/* Logo */
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand img {
    height: 56px;
    width: auto;
}

/* links */
.navbar-nav {
    display: flex;
    gap: 20px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #000 !important;
    font-family: 'DM Sans' !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #09A66D !important;
}

/* Hamburger-Menu */
.navbar .navbar-toggler {
    border: none;
    background: transparent;
}

.navbar .btn-success{
    max-width: 160px;
    height: 40px;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 300;
    margin-left: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .btn-success:active{
    transform: scale(0.96);
}

/* Header */

header{
    max-width: 100%;
    min-height: 850px;
    background-color: var(--color-semi-white);
    background-image: url("../images/listo4ki.png");
    background-size: 612px 408px;
    background-repeat: no-repeat;
    background-position: -15px -35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1{
    color: #000;
    font-family: var(--font-family-h1);
    font-size: var(--font-size-h1);
    font-weight: 700;
    margin-top: 93px;
    margin-bottom: 20px;
}

header h3{
    color: #000;
    font-family: var(--font-family-h3);
    font-weight: 300;
    font-size: 48px;
}

header p{
    width: 607px;
    color: var(--color-gray);
    font-size: 18px;
    font-family: 'DM Sans';
    line-height: 30px;
}
 header span{
    color: #000;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 30px;
}

.order-now{
    width: 64px; height: 64px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-clean-green);
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.order-now:active{
    transform: scale(0.96);
}

.stat-box{
    width: 1220px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 108px;
    margin-bottom: 33px;
}

.inner-stat-box{
    width: 250px;
    min-height: 408px;
    display: grid;
    grid-template-columns: 250px;
    grid-gap: 20px;
    align-content: center;
    margin: 0;
    margin-bottom: 20px;
}

.inner-stat-box li{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    transition: all 0.2s ease;
}

.inner-stat-box li:hover{
    transform: scale(1.05);
}

/* First section */
.f-section .row{
    margin-left: 100px;
}

.f-section .col-lg-8{
    max-width: 671px;
    margin-top: 141px;
    margin-bottom: 56px;
}

/* 2ND BLOCK */

.adv{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 59px;
    background-image: url("../images/line.png");
    background-size: 944px 532px;
    background-position: 461px -30px;
    background-repeat: no-repeat;
}

.container2-1{
    width: 671px;
    min-height: 696px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin: 141px 0 146px;
}

.container2-1 h1{
    font-family: 'Rosario';
    font-size: 70px;
    font-weight: 700;
}

.container2-1 p{
    color: #555555;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 30px;
}

.container2-1 h3{
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: 700;
}

.container2-1 span{
    color: #555555;
    font-family: 'DM Sans';
    font-size: 14px;
    line-height: 20px;
}

/* LIST */

ul{
    width: 500px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    list-style-type: none;
    padding-left: 0 !important;
}

.fasted-delivery{
    max-width: 381px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.online-order{
    background-color: #F3FBF8;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.whole-day-service{
    width: 381px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-content{
    width: 277px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* MORE-BUTTON */

li button{
    width: 20px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
}

li button:active{
    transform: scale(0.8);
}

.fa-arrow-down-long{
    color: #078A5B;
    scale: 1.2;
}

/* Navbar for Mobile devices */
@media (max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand {
        padding: 0;
        top: 0;
    }
    

    .navbar-nav {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        width: 100%;
    }

    .navbar .btn-success {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 992px){

    header{
        background-position: -15px 280px;
    }

    header h1{
        white-space: nowrap;
        font-size: 64px;
        font-weight: 700;
        margin-top: 13px;
        margin-bottom: 22px;
    }

    header p{
        margin-top: 22px;
        font-size: 16px;
    }

    .inner-stat-box{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 76px;
    }

}

/* 3RD BLOCK */

.special-items{
    width:100%;
    height: 832px;
    background-color: #F3FBF8;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}


/* LEFT IMAGE STYLE */

.container3-1{
    max-width: 600px;
    margin-top: 95px;
    margin-left: 100px;
}

/*HEADING, PARAGRAPH STYLE */

.container3-2{
    display: flex;
    flex-direction: column;
    margin-top: 141px;
    margin-right: 50px;
    gap: 20px;
    
}

.container3-2 h1{
    width: 557px;
    font-family: 'Rosario';
    font-size: 70px;
    font-weight: 700;
}

.container3-2 p{
    width: 574px;
    color: #555555;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6px;
}

/* BUTTON STYLE */

.button-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
 }

.button-container button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 179px;
    border: none;
    background-color: #F3FBF8;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-container button p {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    color: #222222;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 500;
}

.explore-now:active{
    transform: scale(0.96);
}

@media (max-width: 992px){
    .adv {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container2-1{ 
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 76px;
        margin-bottom: 0;
    }

    .container2-1 h1{
        font-family: 'Rosario';
        font-size: 64px;
    }

    .container2-1 p{
        margin-bottom: 0;
    }

}

@media (max-width: 992px) {
    .special-items{
        min-height: 822px;
        flex-direction: column;
    }

    .container3-1{
        display: flex;
        gap: 50px;
    }

    .container3-1 img{
        width: 366px !important;
        height: 366px !important;
    }

    .container3-2{
        margin: 0;
        align-items: center;
    }

    .container3-2 h1{
        min-width: 677px;
        font-size: 64px;
        text-align: center;
    }

    .container3-2 p{
        font-size: 16px;
        text-align: center;
        margin: 0;
    }

}

/* 4TH BLOCK */

.about-us {
    width:100%;
    background-color: #FFFFFF;
    display: flex;
    gap: 300px;
    margin-top: 96px;
    margin-bottom: 48px;
}

.container4-1{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

/* HEADING + TEXT */

.container4-1 h1{
    width: 640px;
    font-family: 'Rosario';
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
    padding-bottom: 30px;
}

.container4-1 p{
    width: 586px;
    font-family: 'DM Sans';
    font-size: 18px;
    color: #555555;
    line-height: 30px;
    padding-bottom: 30px;
}

.container4-1 h2{
    width: 196px;
    font-family: 'DM Sans';
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 4px;
}

/* RATE STYLE */

.fa-star, .fa-star-half-stroke{
    color: #F1B90B;
}

.star-box{
    width: 466px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTONS */

.buttons{
    display: flex;
    gap: 20px;
}

.click-right{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #078A5B;
    background-color: #078A5B;
    cursor: pointer;
    transition: all 0.2s ease;
}

.click-left:active{
    transform: scale(0.96);
}

.click-left{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    transition: all 0.2s ease;
}

.click-right:active{
    transform: scale(0.96)
}

/* RATE INFO */

.container4-2{
    max-width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 96px;
    margin-bottom: 48px;
}

.rate-box{
    margin-top: -30px;
    width: 220px;
    height: 80px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.learn-more{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.learn-more:active{
    transform: scale(0.96);
}

.rates{
    padding-left: 20px;
}

.photo-set{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.photo-set :not(:first-child){
    margin-left: -10px;
}

@media (max-width: 992px) {
    .about-us{
        flex-direction: column;
        margin-top: 76px;
        margin-bottom: 30px;
        gap: 50px;
    }

    .container4-1{
        margin: 0;
        margin-top: 76px;
        align-items: center;
        justify-content: center;
    }
    .container4-1 h1{
        margin: 0;
        font-size: 64px;
        text-align: center;
    }

    .container4-1 h2{
        margin-bottom: 0;
    }

    .container4-1 p{
        margin: 0;
        text-align: center;
        font-size: 16px;
        line-height: 27px;
    }

    .container4-2{
        align-items: center;
        justify-content: center;
    }
}

.order-way{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.container5{
    max-width: 663px;
    margin-left: 113px;
}

.download-button{
    width: 170px;
    height: 40px;
    background-color: #F3FBF8;
    border-radius: 50px;
    border: none;
    font-family: 'DM Sans';
    font-size: 18px;
    color: #333333;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.download-button:active{
    transform: scale(0.96);
}

.container5 h1{
    font-family: 'Rosario';
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 20px;
}

.container5 p{
    width: 574px;
    color: #555555;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}

.go-to button{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
}

.go-to button:active{
    transform: scale(0.96);
}

@media (max-width: 992px){

    .container5{
        width: 523px;
        margin-left: 80px;
    }
    .container5 h1{
        font-size: 64px;
    }

    .container5 p{
        width: 523px;
    }
}

footer{
    width: 100%;
    min-height: 435px;
    background-color: #FCFEFD;
    display: flex;
    gap: 157px;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

footer p{
    max-width: 100%;
    color: #555555;
    font-size: 18px;
    font-family: 'DM Sans';
}

footer h3{
    font-family: 'DM Sans';
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 700;
}

.navigation, p:not(:last-child){
    margin-bottom: 25px;
}

.resources, p:not(:last-child){
    margin-bottom: 25px;
}

.contact-us p{
    margin-bottom: 25px;
}

.fa-brands{
    width: 24px;
    height: 24px;
    color: #222222;
    margin-right: 30px;
}

@media (max-width: 992px){
    footer{
        width: 991px;
        gap: 54px;
    }

    footer p{
        width: 255px;
        font-size: 16px;
    }

    footer h3{
        font-size: 20px;
    }
}
